.hg/
.project
.modifydates
.changes
.vscode
temp
variables.sh
language.settings.xml

**/.DS_Store
**/ghost-build.log
**/obj
**/crtobj
**/bin
**/.settings

tools/changes/changes*
tools/ramdisk-writer/ramdisk-writer*

libc/libc.a
libapi/libghostapi.a
libuser/libghostuser.a

applications/**/*.bin
applications/**/obj/*.o
applications/**/*.so
applications/**/obj-*

patches/ports/build/*

documentation/out/*

kernel/bin/*
kernel/serial.log
kernel/iso/boot/kernel
kernel/iso/boot/loader
kernel/iso/boot/ramdisk