.hg/
.project
.modifydates
.changes
.vscode
temp
variables.sh
language.settings.xml

**/.DS_Store
**/ghost-build.log
**/obj
**/crtobj
**/bin
**/.settings

tools/changes/changes*
tools/ramdisk-writer/ramdisk-writer*

libc/libc.a
libc/libc.so
libapi/libghostapi.a
libapi/libghostapi.so
libuser/libghostuser.a
libuser/libghostuser.so

applications/**/*.bin
applications/**/obj/*.o
applications/**/*.a
applications/**/*.so
applications/**/obj-*

patches/ports/build/*

documentation/out/*

kernel/bin/*
kernel/serial.log
kernel/iso/boot/kernel
kernel/iso/boot/loader
kernel/iso/boot/ramdisk

ghost.iso
