.hg/
.project
.modifydates
.changes
build.log
temp
variables.sh
language.settings.xml

**/.DS_Store
**/ghost-build.log
**/obj
**/crtobj
**/bin
**/.settings

tools/changes/changes*
tools/ramdisk-writer/ramdisk-writer*

kernel/bin/*
kernel/serial.log
kernel/kernel
kernel/loader
libapi/libghostapi.a
libapi/libghostapi.so
libc/libc.a
libc/libc.so

applications/**/*.bin
applications/**/obj/*.o
applications/**/*.a
applications/**/*.so
applications/**/obj-*

patches/ports/build/*

documentation/out/*

target/iso/boot/kernel
target/iso/boot/loader
target/iso/boot/ramdisk

sysroot/system/include
sysroot/system/lib
!sysroot/system/lib/empty.txt
sysroot/system/apstartup.o
sysroot/system/bin
sysroot/system/share
sysroot/applications/*
!sysroot/applications/empty.txt

ghost.iso
