#!/bin/bash

#
# Copy this file to "variables.sh"
# Here you can change settings for the build scripts.
#

## Modify toolchain base: 
# export TOOLCHAIN_BASE="/path/to/base"

## Modify target architecture:
# export TARGET="x86_64-ghost"
